# Keep language stats focused on the RTL
software/** linguist-vendored
*.dump linguist-generated
*.dump.* linguist-generated
*.hex linguist-generated
*.mif linguist-generated
*.vh linguist-language=Verilog
*.f linguist-language=Text
*.bat linguist-detectable=false
